title: Manifest
description: Transform your app idea into a profitable online business. Build, launch, and grow your SaaS with confidence.
url: "https://www.madewithmanifest.com"
baseurl: ""

markdown: kramdown
highlighter: rouge
theme: minima

plugins:
  - jekyll-feed

exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/